---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="Acerca de mí">
  <Page title="Acerca de mí">
    <p>
      Soy economista y especialista en Estadística, con experiencia en el desarrollo 
      de modelos de Machine Learning y Procesamiento de Lenguaje Natural (NLP, por 
      sus siglas en inglés). Mi trayectoria incluye investigación cuantitativa y 
      cualitativa en una variedad de sectores, tales como políticas públicas, derechos 
      humanos, publicidad y auditoría financiera.
    </p>

    <p>
      Poseo habilidades prácticas en el desarrollo end-to-end de productos de ML, 
      desde la conceptualización hasta la etapa de producción. Este proceso engloba 
      el procesamiento de datos, análisis exploratorio, desarrollo y optimización de 
      modelos, y visualización de resultados. Mi experiencia me ha otorgado conocimiento 
      en técnicas de análisis avanzado y el manejo de lenguajes de programación como 
      Python, SQL y R, así como herramientas de visualización (Tableau y PowerBI).
    </p>

    <p>
      Mi objetivo primordial es aplicar mis conocimientos en proyectos de investigación, 
      tanto académicos como corporativos. Valoro la colaboración con equipos 
      interdisciplinarios para enfrentar retos complejos y generar conocimiento relevante 
      que respalde la toma de decisiones.
    </p>

    <p>
      También soy filósofo y me entusiasma integrar las humanidades y ciencias sociales 
      en la ciencia de datos, la programación y la inteligencia artificial. La tradición 
      académica suele separar el conocimiento en dos grandes esferas: las ciencias formales, 
      como la física y la química; y las disciplinas más discursivas, como la sociología, 
      la ciencia política y las humanidades. Esta división, aunque carece de rigor, refleja 
      la percepción de algunas áreas del conocimiento como ajenas o distantes de la 
      programación y la IA.
    </p>

    <p>
      Creo que la ciencia de datos, la programación y la inteligencia artificial son 
      disciplinas que atraviesan todos los campos del saber humano. Además, percibo una 
      brecha en la disponibilidad de material educativo en estas áreas, que, siendo 
      accesibles a las ciencias sociales y humanidades, se han enfocado principalmente 
      en las ciencias formales. Mi experiencia profesional me ha permitido reflexionar 
      acerca de estas áreas, y parte de la motivación de este blog nace de la 
      intención de acercar estas disciplinas a los humanistas. Bajo un enfoque práctico 
      y destacando los debates en la intersección entre sociedad, individuo y 
      tecnología, siempre desde una perspectiva humanista.
    </p>
  </Page>
</Base>
